:root {
  --color-white: #ffffff;
  --color-cobalt: #1878e0;
  --color-cerulean: #0099d7;
  --color-grayfog: #ebeff6;
  --color-graydove: #c5d6e6;
  --color-graymidnight: #324350;
  --color-grayshadow50: #416581;
  --color-graysteel: #5f83a5;
  --color-grayblue: #eaf0f7;
  --color-grayalt: #f8f9fa;
}
